<link rel="stylesheet" href="/src/css/bootstrap.css">
<link rel="stylesheet" href="/src/css/common.css">
<script src="/src/scripts/jquery.min.js"></script>
<script src="/src/scripts/bootstrap.js"></script>
<script src="/src/scripts/doT.js"></script>
<script src="/src/scripts/common.js"></script>
<script src = "/src/scripts/components/utils.js"></script>
<script src = "/src/scripts/components/table.js"></script>
<script src = "/src/scripts/components/input.js"></script>
<script src = "/src/scripts/components/form.js"></script>
