<div id = "menu">
	<ul class="menuFirst">
		<li><a href="javascript:;">主页</a><span class = "menuIcon"> </span>
            
		</li>
		<li><a href="javascript:;">系统管理</a><span class = "menuIcon"><</span>
            <ul class="menuSecond">
            	<li><a href="javascript:;">人员管理</a></li>
            	<li><a href="javascript:;">角色管理</a></li>
            	<li><a href="javascript:;">权限管理</a></li>
            	<li><a href="javascript:;">资源管理</a></li>
            	<li><a href="javascript:;">部门管理</a></li>
            </ul>
		</li>
		<li><a href="javascript:;">景点库管理</a><span class = "menuIcon"><</span>
            <ul class="menuSecond">
            	<li><a href="javascript:;">新增景点</a></li>
            	<li><a href="javascript:;">查看详情</a></li>
            </ul>
		</li>
		<li><a href="javascript:;">供应商管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">驴拍商城管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">积分商城管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">创科管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">体验店管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">代理商管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">用户管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">信息管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">短信管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">分销管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">财务管理</a><span class = "menuIcon"><</span></li>
		<li><a href="javascript:;">统计报表</a><span class = "menuIcon"><</span></li>
	</ul>
</div>