<div class="row">
	<div class="col-xs-5 tytable-page-left">
		<label>显示&nbsp;&nbsp;<select name="" id="" class = "tytable-select">
			<option value="">1</option>
			<option value="">2</option>
			<option value="">3</option>
			<option value="">20</option>
		</select></label>
		<div class = "tytable-page1"><span>显示第1到10条，共30条数据，共3页</span></div>
	</div>
	<div class="col-xs-7 tytabe-page-right">
		<ul>
			<li><a href="javascript:;">首页</a></li>
			<li><a href="javascript:;">上一页</a></li>
			<li><a href="javascript:;">1</a></li>
			<li><a href="javascript:;">2</a></li>
			<li><a href="javascript:;">下一页</a></li>
			<li><a href="javascript:;">末页</a></li>
		</ul>
		<label class = "tytable-page2"><span>到第</span>&nbsp;&nbsp;<input type="text" class = "tytable-input">&nbsp;&nbsp;页&nbsp;&nbsp;<span class = "tytable-jump"><a href="javascript:;">转</a></span></label>
	</div>
</div>