<table class="table dataTable table-bordered table-hover">
    <thead>
        <tr>
            {{?it.batchable}}
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace" />
                    <span class="lbl"></span>
                </label>
            </th>
            {{?}} {{~it.thData:item}}
            <th>{{= item}}</th>
            {{~}} {{? it.operations.length>0 }}
            <th>操作</th>
            {{?}}
        </tr>
    </thead>
    <tbody>
        {{~it.trData:row}}
        <tr>
            {{?it.batchable}}
            <td class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace ytable-batch-checkbox" />
                    <span class="lbl"></span>
                </label>
            </td>
            {{?}} {{~row:item}}
            <td>{{=item}}</td>
            {{~}} {{?it.operations.length>0}}
            <td>{{= it.operations}}</td>
            {{?}}
        </tr>
        {{~}}
    </tbody>
</table>
{{?it.trData.length <= 0}}
<div class="ytable-body-empty"></div>
{{?}}
